
<h1>My profile</h1>
<br>
<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>

<h2>Events</h2>

   
                <%= render 'user_events', {events: @user.upcoming_events, type: 'upcoming'} %>
     
                <%= render 'user_events', {events: @user.past_events, type: 'past'} %>         
    
                <%= render 'user_events', {events: @user.events, type: 'created'} %>         
  