<div class = "upcoming" >
    <h1>Upcaming events</h1>
<% @upcoming_events.each do |e| %>
  
      <ul>
            <li><%= e.title %></li
            <li><%= e.description %></li>
            <li><%= e.date %></li>
            <li><%= e.location %></li>
      </ul>
  
<% end %>
</div>
<% @past_events.each do |e| %>
  <div class = "past events" >
      <h2>Past events</h2>
      <ul>
            <li><%= e.title %></li
            <li><%= e.description %></li>
            <li><%= e.date %></li>
            <li><%= e.location %></li>
      </ul>
    
  </div>
<% end %>