<h1> Event created by <%= link_to "user name"  %> </h1>
<% @event.each do |e| %>
        <ul>
            
                Created by <%= e.user.name %><br>
             <li><%= e.name %></li>
            <li><%= e.description %></li>
            <li><%= e.date %></li>
            <li><%= e.location %></li>
        </ul> 
<% end %>
