<h1> Event created by <%= link_to @user.name %> </h1>
<% @events.each do |e| %>
        <ul>
            
               
             <li><strong>Title</strong><%= e.name %></li>
            <li><strong>Description</strong><%= e.description %></li>
            <li><strong>Date</strong><%= e.date %></li>
            <li><strong>Location</strong><%= e.location %></li>
             <strong>Created by</strong> <%= e.user.name %>
        </ul> 
<% end %>
