 <div class='event-form'>
 <%= form_for (@event) do |f| %>
  <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :date %>
      <%= f.datetime_select :date %>
      
      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.submit "Create Event", class: "btn btn-primary" %>
<% end %>
</div>