
            <h1><%= @event.title %></h1>
        <div class ="event-show">
            <p> Created by <%= @event.creator.name %></p>
              <h4>Description:</h4>  <%= @event.description %><br>
                <h4>Date:</h4><%= @event.date %><br>
                <h4>Location</h4><%= @event.location %><br>
         
                <% if log_in(@event.creator) && @event.date > DateTime.now %>
                    <%= link_to "Invite", invite_path(eventid: @event.id) , class: "btn btn-primary w-25 float-right" %>
                <%end%>
         </div>  
        <h2>Attendees</h2>
        <%if @attendees.empty? %>
            <h3 class="text-center">There is no attendees</h3>     
        <%else%>
            <% @attendees.each do |attendee|%>
                <hr>
                <h5><%=attendee.email%></h5>
            <%end%>
        <%end%>
 